/*Basic Styles*/

* {
    font-family: helvetica;
}

body {
  background-color: #2ecc71;  
}

.body-wrapper {
    background-color: #2ecc71;
    width: 580px
}

h1, h2 {
    margin-left: 0px;
}

h1 {
    color: #fc6900;
    font-size: 79px;
    margin-top: -5px;
    margin-bottom: 10px;
    text-shadow: 2px 2px #000000;
    text-align: center;
}

.titleImage {
    margin-left: 40px;
    box-shadow: 3px 3px 10px #17914a;
}

h2 {
    color: #fc6900;
    font-size: 20px;
    margin-left: 12px;
    text-shadow: 1px 1px #000000;
}

h3 {
    font-size: 30px;

}

h3, p, h4 {
    color: #fc6900;
}

h3, p {
    margin-left: 0px;
}

h4 {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}
  
.para-background {
    margin-top: 10px;
    background-color: #abebc6;
    margin-left: 20px;
    width: 478px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
        box-shadow: 2px 2px 10px #17914a;

}

li {
    color: #fc6900;
    margin-bottom: 7px;
    margin-top: 7px;
}

a {
    color:#fc6900;

}

 .list-background {
    background-color: #abebc6;
    width: 438px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #17914a;

 }

 .anchor-background {
   color: #ffffff ;
   background-color: #229954;
   padding: 5px;
   padding-left: 8px;
   padding-right: 8px;
   border-radius: 15px;
   box-shadow: 2px 2px 10px #17914a;
 }

 .center-back-button {
    width: 130px;
    margin: 0 auto;
 }

/*
#f5b041
#dc7633
#abebc6
#2ecc71
#1d8348
#229954
*/